.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px ridge;
    min-height: 140px;
}

.footer {
    background-color: #61AF38;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    background: #BBF0A4;
    color: #61AF38;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #000000;
}
.container-about{
    margin-top: 0px;
    padding-top: 0px;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #61AF38;
}

a {
    color: whitesmoke;
}

img {
    max-width:100%;
    max-height:100%;
    display:block;
}

.breadcrumb {
    background-color: #61AF38;
}